.footer {
  background-color: #012441;

  &, * {
    color: #667C8D;
  }

  h1, h2, h3, h4, h5, h6 {
    color: $white;
  }

  ul li {
    margin: 0;

    &::before {
      content: none;
    }
  }
}

.footer__content {
  padding: 12rem 0 8rem 0;
}

.footer__bottom {
  padding: 2rem 0;
  border-top: 1px solid #667C8D;
}

.footer__row {
  display: flex;
  justify-content: space-between;
}

.footer .dnd-section {
  padding: 0 1rem;
}