.search-results__header {
  background: $secondary;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 180px;
  padding-bottom: 80px;
}

.systems-page--search-results {
  background-color: #EEE;
}