$circle-size: 52px;
.strype-button {
  padding: $circle-size 0 $circle-size $circle-size;
}

.strype-button__link {
  display: inline-block;
  z-index: 0;
  position: relative;
  font-size: 1.2rem;
  line-height: 1.2rem;
  padding-right: 32px;
}

.strype-button__link {
  &, &:hover, &:active, &:focus, &:visited {
    font-weight: bold;
    color: inherit;
  }
}

.strype-button__link::before {
  content: '\200B';
  display: block;
  position: absolute;
  width: ($circle-size - 10) * 2;
  height: ($circle-size - 10) * 2;
  top: -($circle-size - 10);
  top: calc(#{-($circle-size - 10)} + 0.6rem);
  left: -($circle-size - 10);
  background-color: $primary;
  border-radius: 50%;
  z-index: -1;
  transition: all 200ms ease-in-out;
}

.strype-button__link::after {
  content: '\200B';
  display: block;
  position: absolute;
  width: ($circle-size) * 2;
  height: ($circle-size) * 2;
  top: -($circle-size);
  top: calc(#{-($circle-size)} + 0.6rem);
  left: -($circle-size);
  background-color: unquote('rgba(' + $primary-rgb + ', 0.6)');
  border-radius: 50%;
  z-index: -2;
  transition: all 200ms ease-in-out;
}

.strype-button__link:hover::before,
.strype-button__link:focus::before {
  background-color: $primary-light;
}

.strype-button__link:hover::after,
.strype-button__link:focus::after {
  transform: scale(1.1);
  background-color: unquote('rgba(' + $primary-light-rgb + ', 0.6)');
}

.strype-button__link:active::before {
  outline: 10px solid unquote('rgba(' + $primary-rgb + ', 0.6)');
  background-color: $primary;
}

.strype-button__link:active::after {
  background-color: unquote('rgba(' + $primary-rgb + ', 0.6)');
}

.strype-button__arrow {
  width: 16px;
  height: 16px;
  display: block;
  position: absolute;
  top: 0;
  top: calc(1.2rem - 17px);
  right: 8px;
}
