{% set mobilebreak = 768 %}
{% set tabletbreak = 1024 %}

.list-explanation {
  display: block;
}

.list-explanation__left,
.list-explanation__right {
  
}

.list-explanation__left {
  margin-bottom: 2rem;
}

@media (min-width: {{ tabletbreak }}px) {
  .list-explanation {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin: 0 -28px;
  }

  .list-explanation__left,
  .list-explanation__right {
    flex: 0 0 50%;
    padding: 0 28px;
    margin-bottom: 0;
  }
}

.list-explanation__left-content,
.list-explanation__right-content {
  padding: 32px 40px;
  background-color: #FFF;
  border-top: 16px solid;
  height: 100%;
}

.list-explanation__heading {
  color: #000;
}

.list-explanation__side-content blockquote {
  margin-left: 0;
  padding: 20px 0 20px 25px;
  border-left: 15px solid;
  font-size: 28px;
  line-height: 1.25;
}

.list-explanation__side-content blockquote p {
  margin-top: 0;
}

.list-explanation__side-content blockquote p:last-child {
  margin-bottom: 0;
}

.list-explanation__side-content h1,
.list-explanation__side-content h2,
.list-explanation__side-content h3,
.list-explanation__side-content h4,
.list-explanation__side-content h5,
.list-explanation__side-content h6 {
  font-weight: bold;
  line-height: 1.1;
  color: #215E8F;
}

.list-explanation__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-explanation__list-item {
  margin-bottom: 70px;
  margin-left: 106px;
  position: relative;
  padding-top: 8px;
  z-index: 1;
}

.list-explanation__list-item::after {
  content: '\200B';
  display: block;
  width: 0;
  height: 100%;
  padding-bottom: 70px;
  z-index: -1;
  border-left: 1px dashed #215E8F;
  position: absolute;
  left: -64px;
  top: 0;
}

.list-explanation__list-item:last-child::after {
  display: none;
}

.list-explanation__icon {
  position: absolute;
  left: -106px;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #215E8F;
  border-radius: 50%;
  width: 86px;
  height: 86px;
}

.list-explanation__icon img {
  display: block;
}

.list-explanation__item-heading {
  font-weight: bold;
  color: #215E8F;
  margin-bottom: 1rem;
}