.team-members {
  display: grid;
  text-align: center;

  grid-template-columns: 1fr;

  gap: 4rem 2rem;
}

@media (min-width: 1024px) {
  .team-members {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.team-members__person {
  position: relative;
  padding: 2rem;
  background: #FFFFFF;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.05);
}

.team-members__photo {
  width: 192px;
  height: 192px;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 2rem auto;
}

.team-members__name {
  text-align: center;
  font-size: 26px;
  line-height: 28px;
  font-weight: bold;
  margin-bottom: 0.2rem;
  color: #000;
}

.team-members__job-title {
  font-size: 17px;
  line-height: 25px;
}

.team-members__description {
  margin: 1.5rem auto 0 auto;
}

.team-members__link {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 0.01px;
  color: transparent;
  text-indent: -100px;
  border-style: solid;
  border-width: 0 0 56px 56px;
}

.team-members__link::after {
  content: '\200B';
  position: absolute;
  display: block;
  top: 30px;
  right: 8px;
  background-image: url("data:image/svg+xml,%3Csvg width='16px' height='16px' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23FFFFFF' fill-rule='nonzero' d='M8.61289944,0.209704612 L8.70710678,0.292893219 L15.7071068,7.29289322 C15.7425008,7.32828727 15.774687,7.36567442 15.8036654,7.40469339 L15.8753288,7.5159379 L15.8753288,7.5159379 L15.9287745,7.62866398 L15.9287745,7.62866398 L15.9641549,7.73400703 L15.9641549,7.73400703 L15.9930928,7.8819045 L15.9930928,7.8819045 L16,8 L16,8 L15.9972121,8.07523854 L15.9972121,8.07523854 L15.9797599,8.20072576 L15.9797599,8.20072576 L15.9502619,8.31214252 L15.9502619,8.31214252 L15.9063266,8.42322155 L15.9063266,8.42322155 L15.8540045,8.52070875 L15.8540045,8.52070875 L15.7803112,8.62544899 L15.7803112,8.62544899 L15.7071068,8.70710678 L8.70710678,15.7071068 C8.31658249,16.0976311 7.68341751,16.0976311 7.29289322,15.7071068 C6.93240926,15.3466228 6.90467972,14.7793918 7.20970461,14.3871006 L7.29289322,14.2928932 L12.585,9 L1,9 C0.44771525,9 0,8.55228475 0,8 C0,7.48716416 0.38604019,7.06449284 0.883378875,7.00672773 L1,7 L12.585,7 L7.29289322,1.70710678 C6.93240926,1.34662282 6.90467972,0.779391764 7.20970461,0.387100557 L7.29289322,0.292893219 C7.65337718,-0.0675907428 8.22060824,-0.0953202783 8.61289944,0.209704612 Z'%3E%3C/path%3E%3C/svg%3E");
  width: 16px;
  height: 16px;
}