<!--
  templateType: global_partial
  label: Website footer
-->
{% module "main-nav-2"
  path="../../modules/bottom-highlight",
  label="Bottom Highlight"
%}
<footer class="footer">
  <div class="footer__content">
    {% dnd_area "footer" %}
      {% dnd_section vertical_alignment="TOP" %}
        {% dnd_column offset=0, width=3 %}
          {% dnd_row %}
            {% dnd_module "site_logo" path="@hubspot/logo" %}
            {% end_dnd_module %}
          {% end_dnd_row %}
          {% dnd_row %}
            {% dnd_module "footer_content" path='@hubspot/rich_text' %}
              {% module_attribute "html"%}
                <p>
                  We represent clients throughout the
                  Greater Toronto Area (GTA) and
                  surrounding communities.
                </p>
                <p>
                  Our top priority is helping you
                  rebuild your life in the months
                  after suffering a catastrophic
                  injury.
                </p>
              {% end_module_attribute %}
            {% end_dnd_module %}
          {% end_dnd_row %}
        {% end_dnd_column %}
        {% dnd_column offset=3, width=3 %}
          {% dnd_row %}
            {% dnd_module "footer_menu_1" path="../../modules/simple-menu" %}
            {% end_dnd_module %}
          {% end_dnd_row %}
        {% end_dnd_column %}
        {% dnd_column offset=6, width=3 %}
          {% dnd_row %}
          {% end_dnd_row %}
        {% end_dnd_column %}
        {% dnd_column offset=9, width=3 %}
          {% dnd_row %}
          {% end_dnd_row %}
        {% end_dnd_column %}
      {% end_dnd_section %}
    {% end_dnd_area %}
  </div>
  <div class="footer__bottom">
    <div class="content-wrapper">
      <div class="footer__row">
        <div class="footer__bottom-item">
          &copy; Copyright - Strype Injury Lawyers
        </div>
        <div class="footer__bottom-item">
          Disclaimer & Privacy Policy
        </div>
      </div>
    </div>
  </div>
</footer>