<!--
  templateType: global_partial
  label: Website header
-->
<header class="header">
  <div class="content-wrapper">
    <div class="header__row header__wrap">
      <input type="checkbox" id="mobile-toggle" class="header__mobile-check" />
      <div class="header__logo header__logo--main">
        {% module "site_logo" path="@hubspot/logo" %}
      </div>
      <div class="header__navigation">
        {% module "main-nav-2"
          path="../../modules/strype-menu",
          label="Primary navigation"
        %}
      </div>
      <div class="header__cta">
        {% module "header-cta-button"
          path="@hubspot/button"
          extra_classes="header__cta-button"
        %}
      </div>
      <label class="header__mobile-toggle" for="mobile-toggle">
        <span class="header__mobile-text">Toggle Navigation Menu</span>
      </label>
    </div>
  </div>
</header>
