.contact-map__image img {
  display: block;
  border-radius: 50%;
  max-width: 100%;
}

.contact-map__address, .contact-map__tel, .contact-map__image {
  display: block;
  position: relative;
  margin-left: 2rem;
  margin-bottom: 2rem;
  max-width: 100%;
}

.contact-map__address svg, .contact-map__tel svg {
  display: block;
  width: 18px;
  position: absolute;
  top: 4px;
  left: -2rem;
  fill: #FFF;
}