.blog-tags {
  display: flex;
  list-style: none;
  margin: 0 -8px;
  justify-content: center;
}

.blog-tags__tag {
  margin: 0 8px;
  flex: 0 0 auto;
}

.blog-tags__tag::before {
  content: none;
}

.blog-tags__link {
  display: block;
  padding: 12px 24px;
  font-size: 20px;
  line-height: 28px;
  font-weight: normal;
  color: #000;
}
