.strype-menu {
  height: 100%;
  padding: 0 1rem;
}
.strype-menu ul {
  list-style: none;
}

.strype-menu__items {
  display: flex;
  justify-content: center;
  align-items: stretch;
  height: 100%;
  margin: 0;
  padding: 0;
}

.strype-menu__item > a, .strype-menu__item > span {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-items: center;
  padding: 0 1rem;
  position: relative;
  transition: color 200ms ease-in-out;
  cursor: pointer;
}

.strype-menu__item:hover > a, .strype-menu__item:hover > span {
  color: inherit;
}

.strype-menu__item > a::before, .strype-menu__item > span::before {
  content: '\200B';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0;
  transition: height 200ms ease-in-out;
}

.strype-menu__item:hover > a::before, .strype-menu__item:hover > span::before {
  height: 4px;
}

.strype-menu__item.has-children > a::after, .strype-menu__item.has-children > span::after {
  content: '\f078';
  margin-left: 0.3rem;
  font: var(--fa-font-solid);
  font-size: 12px;
}

.strype-menu__sub {
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  background-color: white;
  position: absolute;
  left: 0;
  width: 100%;
  transition: all 200ms ease-in-out;
}

.strype-menu__item.has-children:hover .strype-menu__sub {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0);
}

.strype-menu__sub * {
  color: #000;
  overflow: hidden;
}

.strype-menu__columns {
  padding: 3rem 0;
  display: flex;
  align-items: stretch;
  margin: 0 -1.5rem;
}

.strype-menu__columns > li {
  flex: 1 1 auto;
  padding: 0 1.5rem;
  border-right: 1px solid #D3D3D3;
}

.strype-menu__columns > li:last-child {
  border-right: none;
}

.strype-menu__col-header {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  font-family: inherit;
  margin: 0 0 1rem 0;
}

.strype-menu__col-header img {
  flex: 0 0 auto;
  max-width: 32px;
  max-height: 32px;
  margin-right: 0.5rem;
}

.strype-menu__col-links {
  margin: 0;
  padding: 0;
  line-height: 2rem;
}