.bottom-highlight {
  position: relative;
  z-index: 100;
  margin: 0 auto;
}

.hs-inline-edit .bottom-highlight {
  min-height: 40px;
}

.bottom-highlight__content {
  position: absolute;
  width: 100%;
  padding: 52px 64px;
  background-repeat: no-repeat;
  background-position: 1px center; /* ensures the image overlaps the right side so there's no orange gap */
  background-size: cover;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 1227 241' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon fill='%23215E8F' fill-rule='nonzero' points='1227 0 1227 241 687 241 897 0'%3E%3C/polygon%3E%3C/svg%3E");
  display: flex;
  align-items: center;
  transform: translateY(-50%);
  z-index: 1000;
}

.bottom-highlight__content-text {
  flex: 1 1 auto;
  font-size: 45px;
  font-weight: bold;
  line-height: 58px;
  text-transform: uppercase;
  color: #FFF;
}

.bottom-highlight__content-link {
  flex: 0 0 auto;
  margin-left: 3rem;
}

.bottom-highlight__content-link .strype-button {
  color: #FFF;
  margin: -52px 0;
}