.box-quote {
  position: relative;
  margin: 25px 0 25px 25px;
  color: #FFF;
  z-index: 0;
}

.box-quote__content {
  position: relative;
  padding: 50px;
  z-index: 2;
}

.box-quote::before {
  content: '\200B';
  display: block;
  position: absolute;
  border: 1px solid #FFF;
  width: 70%;
  top: -25px;
  bottom: -25px;
  left: -25px;
}

.box-quote__quote {
  font-size: 1.5rem;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-weight: bold;
}

.box-quote__attrib::before {
  content: '– ';
}