/* Navigation skipper */
.header__skip, .menu__child-toggle {
  height: 1px !important;
  width: 1px !important;
  left: -1000px !important;
  top: -1000px !important;
  padding: 0 !important;
  margin: 0 !important;
  overflow: hidden !important;
  position: absolute !important;
  text-align: left !important;
}

.header__skip:hover,
.header__skip:focus,
.header__skip:active,
.menu__child-toggle:hover,
.menu__child-toggle:focus,
.menu__child-toggle:active {
  height: auto;
  left: 0;
  overflow: visible;
  top: 0;
  width: auto;
}

/* Objects
Non-cosmetic design patterns including grid and layout classes)
*/

{% include './objects/_layout.css' %}
{% include './objects/_containers-dnd.css' %}