* {
  box-sizing: border-box !important;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
  z-index: 0;
}

h1, h2, h3, h4, h5, h6, .h1,
.h2, .h3, .h4, .h5, .h6 {
  margin-top: 0;
}