@use "sass:string";

// 1. Sizing
// ---------
$container-width: 1240px;

$padding: 30px;
$radius: 0px;

// 2. Breakpoints
// --------------
$breakpoint-tablet: 768px;
$breakpoint-tabletlandscape: 1024px;
$breakpoint-desktop: $container-width;
$breakpoint-fullsize: $container-width;

// 3. Colors
// ---------
$white: #FFF;
$black: #141414;
$primary: string.unquote("{{ theme.global_colors.primary.color }}");
$secondary: string.unquote("{{ theme.global_colors.secondary.color }}");
$primary-rgb: string.unquote("{{ theme.global_colors.primary.color | convert_rgb }}");
$secondary-rgb: string.unquote("{{ theme.global_colors.secondary.color | convert_rgb }}");
$primary-light: string.unquote("{{ color_variant(theme.global_colors.primary.color, 20) }}");
$primary-light-rgb: string.unquote("{{ color_variant(theme.global_colors.primary.color, 20) | convert_rgb }}");

// 4. Typography
// -------------
$weight-light: 300;
$weight-normal: 400;
$weight-medium: 500;
$weight-semibold: 600;
$weight-bold: 700;

$body-font-color: $primary;
$body-font-family: 'Lato', sans-serif;
$body-font-weight: $weight-normal;
$body-font-size: 20px;

// 3. Misc
// -------
$background-opacity: 0.25;
$default-shadow: 0px 8px 16px rgba(0,0,0,0.1);