<!-- module html  -->
{% require_css %}
  <style>
    {% scope_css %}
      .multi-step-by-step__content {
        border-color: {{ theme.global_colors.secondary.color }};
      }
      .multi-step-by-step__list-item::before {
        background-color: {{ theme.global_colors.secondary.color }};
      }
    {% end_scope_css %}
  </style>
{% end_require_css %}

<div class="multi-step-by-step">
  <div class="multi-step-by-step__content">
    {% for list in module.lists %}
      <ul class="multi-step-by-step__list">
        {% if list.before_content is truthy %}
        <li class="multi-step-by-step__list-item multi-step-by-step--content">
          <div class="multi-step-by-step__item-content">
            {{ list.before_content }}
          </div>
        </li>
        {% endif %}
        {% for item in list.items %}
          <li class="multi-step-by-step__list-item">
            <div class="multi-step-by-step__item-content">
              {{ item.item_content }}
            </div>
          </li>
        {% endfor %}
        {% if list.after_content is truthy %}
        <li class="multi-step-by-step__list-item multi-step-by-step--content">
          <div class="multi-step-by-step__item-content">
            {{ list.after_content }}
          </div>
        </li>
        {% endif %}
      </ul>
    {% endfor %}
  </div>
</div>