.simple-menu {
  height: 100%;
  padding: 0;
}

.simple-menu__heading {
  margin: 0 0 2rem 0;
}

.simple-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.simple-menu__item {
  margin: 0 0 1rem 0;
  padding: 0;
}